html {
	background-color: black;
	color: #4AF626;
	font-family: 'Source Code Pro', monospace;
}

#container {
	margin-left: 10%;
	margin-right: 10%;
}

#info {
	display: inline-block;
	width: 20%;
}

#pwns {
	display: inline-block;
	width: 70%;
	vertical-align: top;
	padding-top: 24px;
}

#pwns-table {
	border-collapse: collapse;
	width: 100%;
}

#pwns-table, #pwns th, #pwns td {
	border: 1px solid #4AF626;
	padding: 8px;
}
