<!DOCTYPE html>
<html>

<head>
	<title>Hack the Packet!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<center>
		<pre>   __ __         __     __  __         ___           __       __ 
  / // /__ _____/ /__  / /_/ /  ___   / _ \___ _____/ /_____ / /_
 / _  / _ `/ __/  '_/ / __/ _ \/ -_) / ___/ _ `/ __/  '_/ -_) __/
/_//_/\_,_/\__/_/\_\  \__/_//_/\__/ /_/   \_,_/\__/_/\_\\__/\__/ 
                                                                  </pre>
	</center>

	<div id="container">

		<div id="info">
			<h1>Hacks: <span id="count">0</span></h1>
			<h3>Leaderboard:</h3>
			<ol>
				<li>Team Alpha: 0 pts</li>
				<li>Team Bravo: 0 pts</li>
				<li>Team Charlie: 0 pts</li>
				<li>Team Delta: 0 pts</li>
				<li>Team Echo: 0 pts</li>
			</ol>
		</div>

		<div id="pwns">
			<br>
			<table>
				<tr>
					<th>Found by</th>
					<th>Username</th>
					<th>Password</th>
					<th>Website</th>
				<tr>
				<tr>
					<td>Team Alpha</td>
					<td>abc***@gmail.com</td>
					<td>123******</td>
					<td>email.example.com</td>
				</tr>
				<tr>
					<td>Team Alpha</td>
					<td>abc***@gmail.com</td>
					<td>123******</td>
					<td>email.example.com</td>
				</tr>
				<tr>
					<td>Team Alpha</td>
					<td>abc***@gmail.com</td>
					<td>123******</td>
					<td>email.example.com</td>
				</tr>
				<tr>
					<td>Team Alpha</td>
					<td>abc***@gmail.com</td>
					<td>123******</td>
					<td>email.example.com</td>
				</tr>
				<tr>
					<td>Team Alpha</td>
					<td>abc***@gmail.com</td>
					<td>123******</td>
					<td>email.example.com</td>
				</tr>
			</table>
		</div>

	</div>

</body>

</html>
